.hover-wrapper {
	&:hover {
		transition: 0.5s;
		-webkit-text-stroke: 1px theme('colors.appBlack');
		color: transparent;
	}
}

.dark .hover-wrapper {
	&:hover {
		-webkit-text-stroke: 1px white;
	}
}
