.wrapper {
	transform: perspective(2000px) rotateY(-25deg);
	transform-origin: right;
	transition: transform 1s ease 0s;
}

.link-wrapper {
	transform-origin: right;
	transition: transform 0.5s ease 0s;

	&:hover {
		transform: perspective(2000px) rotateY(15deg);
		-webkit-text-stroke: 1px theme('colors.appBlack');
		color: transparent;
	}
}

.dark .link-wrapper {
	&:hover {
		-webkit-text-stroke: 1px white;
	}
}
